<section class="bang">

  <h3 id="about-me">Hey...</h3>
  
  <div class="face-lockup">
    
    <div class="face-img"></div>
    
    
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-chat">{% include icons/icon-chat.html %}</div>
    
  </div>
  
  
  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>
  
  {% if site.data.settings.skills %}
  
  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>    

    {% endfor %}
    
  </div>
  
  {% endif %}

</section>
