<section class="alt-section section-contact">
  
  <h3 id="contact">Contact</h3>
  
  
  <div class="social-links">
    {% for link in site.data.settings.social %}
    <a href="{{ link.link }}" class="icon-{{ link.icon }}"></a>
    {% endfor %}
  </div>
  
  <hr class="bar">
  
  <a class="biglink" href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
  
</section>