<section>

  <h3>Write Me</h3>
  
<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">
  
  <fieldset class="contact-info-group">

    <label><span>Your Name</span>
    <input type="text" name="name"></label>
    
    <label><span>Your Email</span>
    <input type="email" name="_replyto"></label>

  </fieldset>

  <label><span>Tell me something good</span>
  <textarea name="message"></textarea></label>

  <fieldset class="submit-wrap">
    <input type="submit" value="Send">
  </fieldset>

</form>
  
</section>
