.section-contact
  text-align: center

.social-links
  max-width: 700px
  margin: 0px auto 50px
  +display(flex)
  +justify-content(space-around)
  +flex-wrap(wrap)

  
  a
    display: block
    //background: $accent
    border: 2px solid $accent
    +size(50px)
    line-height: 50px
    color: $accent
    border-radius: 50%
    font-size: 28px
    margin: 20px
    position: relative
    &:hover
      color: $monarch
    
    
    &:after
      content: ''
      display: block
      +position(absolute, 0px 0px 0px 0px)
      border: 2px solid $accent
      border-radius: 50%
      margin: -2px
      opacity: 1
      +transition
      +transition-duration(1.0s)

      
    &:hover:after
      +transform(scale(1.5))
      opacity: 0


.bar
  width: 250px
  height: 0px
  border-top: 4px solid $accent
  margin: 0px auto 50px

.biglink
  display: inline-block
  font:
    size: 72px
    weight: 300
  line-height: 1
  width: 90%
  margin: 0 auto
  color: lighten($holly, 8%)
  font-family: 'Patrick Hand', cursive
  letter-spacing: 0.08em
  &:hover
    color: $monarch
